<template>
  <h1>{{ title }}</h1>
  <hr/>
  <router-view/>
</template>

<script setup>
import { ref, watch } from "vue";
import { useRouter } from "vue-router";

const title = ref("");

const router = useRouter();

const updateTitle = (val) => {
  const { name, params: { id }, } = val;

  if (name === "<%= moduleName %>Edit") {
    if (id === 0) {
      title.value = "Nuevo <%= moduleName %>";
      return;
    }
    title.value = "Editar <%= moduleName %>";
    return;
  }
  title.value = "<%= moduleName %>";
};

watch(router.currentRoute, (newVal) => updateTitle(newVal), {
  immediate: true,
});
</script>
