import { deleteItem, getItem, getList, saveItem } from "./functions";
import { generateStore } from "../../../store";

const use<%= moduleNameCap %>Store = generateStore(
  '<%= moduleName %>',
  { deleteItem, getItem, getList, saveItem }
)

export default use<%= moduleNameCap %>Store;
