body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: var(--ep-color-primary);
  text-decoration: none;
}

:root {
  --el-menu-item-height: 48px;
  --el-header-height: initial;
  --el-menu-horizontal-height: initial;
}

.el-header {
  --el-header-padding: 0;
  --el-header-height: 50px;
}

.el-card {
  --el-card-padding: 15px;
}

.el-main {
  --el-main-padding: 10px;
  // background-color: var(--el-bg-color-page);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}
